/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a:link, a:visited{				
	color: #333249;
	text-decoration: none;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.4);
}
a:hover{
	color: #FFFFFF;
	text-decoration: none;
	background-color: rgba(38, 111, 103, 0.5);
	border-radius: 0.1em;
}*/