<div class="post"><h2 class="title">Listing categories</h2>
<ul>
    <% @categories.each do |category| %>
        <li><%= link_to category.name, category %></li>
    <% end %>
</ul>

<p><%= link_to "<Back>", posts_path %></p>
</div>